body { 	background-color:#E5E5E5;
		scrollbar-face-color: #C8D1D7; scrollbar-highlight-color: #EAF0F7;
		scrollbar-shadow-color: #95AFC4; scrollbar-3dlight-color: #D6DDE2;
		scrollbar-arrow-color:  #006699; scrollbar-track-color: #EFEFEF;
		scrollbar-darkshadow-color: #7294AF;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px;
}
.bodyline	{ background-color:#FFFFFF; border: #AEBDC4; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px }
a		{ color: #006699; text-decoration: none;}
a:hover	{ color: #C23030; text-decoration: underline;}

TH {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
}
TD {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
tr.alternate {
	background-color:#eaf2ff;
}

#loaderDiv {
  position:absolute;
  background-image: url(images/wait-big.gif);
  background-repeat: no-repeat;
  /*height:100%;
  width:100%;*/
  width: 100px;
  height: 100px;
  margin:0px auto;
  left:600px; 
  top:300px;
  opacity:0.6;
  filter:alpha(opacity:90); /* this is for IE */
  z-index:30;
}
#halgeDiv {
  position:absolute;
  background-color: white;
  background-image: url(images/halge_ligger.jpg);
  background-repeat: no-repeat;
  /*height:100%;
  width:100%;*/
  width: 450px;
  height: 260px;
  margin:10px auto;
  left:400px; 
  top:150px;
  z-index:30;
}
#countDown {
  color: red;
}
.halgeHeading {
  font-size: 12pt; 
  font-weight: bold; 
  margin-top: 200px;
}
.hideMe {
  display:none;
}
